<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c642daff-6db7-4c20-83a6-60fa2330cb68/resourceGroups/TP1_2194189_InfoNuagique/providers/Microsoft.ContainerRegistry/registries/acrcartecredit2194189</ResourceId>
    <ResourceName>acrcartecredit2194189</ResourceName>
    <ResourceGroup>TP1_2194189_InfoNuagique</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://acrcartecredit2194189.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c40f6bd7-9b7b-4a29-aeee-8fcaa97d690d</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>